/* Travis Knoll*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #3a51a2;
}

.container {
    margin: auto;
    width: 870px;
    height: 990px;
    background-color: #FFFFFF;
}


.header, img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
    padding-bottom: 20px;
    display: inline-block;
}
form {
    margin: auto;
    width: 550px;
    height: 150px;
    font-family: 'Yesteryear', arial, helvetica, sans;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;

}

input {
    width: 375px;
    display: block;
    height: 25px;
}

#notes {
    width: 550px;
    height: 300px;
}
#user p {
    padding-top: 35px;
}
#user button {
    float: right;

}

/* Admin tabs */

#tabs {
    background-color: #8f94c9;
    width: 600px;
    height: 150px;
    padding: 20px;
    padding-bottom: 20px;
    margin: auto;

}

#tabs-nav {
    width: 600px;
    height: 75px;
    background-color: #3a51a2;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 20px;
}



#tabs-nav li {
    display: inline;
    padding-right: 80px;


}
/* Modal window */

#overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

#modal {
    width: 450px;
    height: 500px;
    background: #8f94c9;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 1001;
    display: none;
}

#modal .header {
    background: #333;
    color: #fff;
    padding: 10px;
}

#modal p {
    margin: 15px;

}

#modal .close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #ff0;
}

form {
    padding: 10px;
}

form.input {
    padding: 10px;
}

header {
    width: 960px;
}

.userid {
    width: 100px;
}

.logoutbox {
    width: 400px;
    float: right;
}

.mystatus > input[type=radio]{
    display: none;
}

input[type=radio] + img {
    cursor: pointer;
    border: 2px solid #f00;
}

input[type=radio]:checked + img {
    border: 2px solid #ffffff;
}
/* tooltip */

.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333333;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    color: #3a51a2;
    font-size: 12px;
    font-family: Arial;

}

/* Sortable */

#sortable { list-style-type: none; margin: 0; padding: 0; width: 90%; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }



